body{
margin: 30px;
}

.logo {
display: inline-block;
width: 30%;
height: 30px;
color: rgb(202, 11, 11);
font-size: 30px;

}

.blokas3 {
    margin: 0 30px;
    display: inline-block;
}

.art1 { 
    margin-top: 30px;
    text-align: center;
}

.tekstas1 {
    text-align: center;
    margin: 3cm 15%;
    width: 70%;
    background-color: aquamarine;
}

nav {
    width: 69%;
    display: inline-block;
    text-align: right;
}

a {
      margin-right: 20px; 
   }

.paveiksliukas {
    width: 200px;
    height: 150px;
        border: 5px solid red;
}

footer {
margin-top: 30px;
text-align: center;
color: blue;
}