header {color: blue; text-align: center; } 
.header_stilius {color: darkred;}
a {margin-right: 10px;}
.pieno_produktai {color: rgb(221, 245, 10);}
footer {color: rgb(20, 20, 19); text-align: center;}
body {background-color: cadetblue;}